body {
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    margin: 0px auto;
}

header {
    width: 95%;
    margin: 0px auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-title>p {
    font-weight: bold;
    font-size: 20px;
}

.nav-links {
    display: flex;
    gap: 10px;
}

.nav-links>p>a {
    text-decoration: none;
    color: black;
}

.banner {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner>h1 {
    font-size: 40px;
    margin-bottom: -5px;
}

.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}